body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.container-fluid{
    position: sticky;
   
    top: 0px;
   
    
}
 .nav ul{
    display: flex;
    position: sticky;
    margin: 0px;
 }
#logo{
    height: 5vh;
    width: 5vh;
    margin-right: 0px;
    margin-left: 10px;
}

#pp{
    height: 35vh;
    width: 35vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8rem;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-top: 20px;
}
.head{
    background-color: black;
    height: 100%;
    width: 100%;
}
    

#heading{
    text-align: center;
    margin: auto;
  
    color: white;
    font-family: 'Pacifico', cursive;
    margin-top: 200px;
}
.box{
margin-top: 20px;
margin-bottom: 20px;
}

.home{
    height: 550px;
    overflow: hidden;
}

.navbar{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-item{
margin: 0 10px;
}

#aboutme{
    margin: 0%;
    background-color: #EAE7Dc;
    padding-bottom: 50px;
    padding-top: 30px;
    border-radius: 25px;
} 

.h2{
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.selfintro{
    border-radius: 33px;
    padding-left: 35px ;
    padding-right: 35px ;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-right: 150px;
    margin-left: 150px;
    font-weight: 500;
    line-height: 1.6;
    font-size: larger;
    font-family: 'Baloo 2', cursive;
     background-color: #ffc9c3;

}

.handles{
   
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.social{
   
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(231, 253, 243);
    font-family: 'Baloo 2', cursive;
}
.social-media a{
    text-decoration: none;
    color: black;

    margin-right: 14px;
    margin-left: 14px;
}
.social-media a:hover{
    color: gray;
}


.connect{
    color: #6a908e;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Pacifico', cursive;
}

#skills{
    margin: 0%;
    font-family: 'Baloo 2', cursive;
    padding-bottom: 50px;
    padding-top: 30px;
    background-color: #EAE7Dc;
}

.myskills{
color: black;
text-align: center;
margin-bottom: 40px;
font-family: 'Pacifico', cursive;
}

.info{
   
    margin-left: 100px;
    margin-right: 100px;
    padding: 45px;
    font-family: 'Baloo 2', cursive;
    overflow: hidden;
}
#first-img{
    height: 32vh;
    width: 32vh;
    float: left;
    display: block;
    border-radius: 7rem;
    border: 2px solid black;
    overflow: hidden;
    
    
    margin-left: 10px;
}
#sec-img{
    height: 32vh;
    width: 32vh;
    display: block;
    float: right;
    border-radius: 7rem;
    border: 2px solid black;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 35px;
    
}
#third-img{
    height: 32vh;
    width: 32vh;
    display: block;
    float: left;
    border-radius: 7rem;
    border: 2px solid black;
   margin-top: 10px;
   margin-left: 0px;
}
.code{
    color: #012523;
text-align: center;
margin-bottom: 20px;
margin-top: 15px;
font-family: 'Pacifico', cursive;
}
.webdev{
    
    color: #012523;
text-align: center;
margin-top: 15px;
margin-bottom: 20px;
font-family: 'Pacifico', cursive;
}
.graphic{
   
    color: #012523;
text-align: center;
margin-bottom: 20px;
margin-top: 15px;
font-family: 'Pacifico', cursive;
}
.first{
   border: 0.5px solid black;
   display: inline-block;
   height: 170px;
   width: 650px;
   overflow: hidden;
   margin-bottom: 25px; 
   margin-left: 70px;
   padding-left: 20px;
   border-radius: 50px;
   background-color: #ffc9c3;
   
}
.sec{
    border: 0.5px solid black;
    display: inline-block;
    height: 190px;
    width: 650px;
    overflow: hidden;
    margin-bottom: 25px; 
    margin-left: 35px;
    padding-left: 20px;
    border-radius: 50px;
    background-color: #ffc9c3;
 }
 .third{
    border: 0.5px solid black;
    display: inline-block;
    height: 190px;
    width: 650px;
    overflow: hidden;
    margin-bottom: 25px; 
    margin-left: 70px;
    padding-left: 20px;
    border-radius: 50px;
    background-color: #ffc9c3;
    
 } 
 #box{
   padding: 60px;
 }
 #experience{
    color: #6a908e;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Pacifico', cursive;
 }
 .exp{
    
     padding: 5px;
     padding-left: 29px;
     margin-left: auto;
     margin-right: auto;
     width: 700px;
     font-weight: 500;
     border-radius: 15px ;
     background-color: rgb(231, 253, 243);
     font-family: 'Baloo 2', cursive;
 }

 #message{
     margin-top: 20px;
     margin-bottom: 50px;
    font-family: 'Pacifico', cursive;
    text-align: center;   
}

 #form{
     border-radius: 25px;
  padding-top: 70px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
     background-color: #EAE7Dc;
     font-family: 'Baloo 2', cursive;
 }
 #btn{
     background-color: #031d75;
    /* float: right; */
    
 }
 .footer{
     background-color: #343435;
     height: 50px;
     color: white;
     font-family: 'Baloo 2', cursive;
     text-align: center;
     font-size: 25px;
 }